In [1]:
import numpy as np
import pandas as pd
from pmlb import fetch_data, regression_dataset_names

In [2]:
data_list = [
    "1027_ESL",
    "1028_SWD",
    "1029_LEV",
    "1030_ERA",
    "1089_USCrime",
    "1096_FacultySalaries",
    "1191_BNG_pbc",
    "1193_BNG_lowbwt",
    "1196_BNG_pharynx",
    "1199_BNG_echoMonths",
    "1201_BNG_breastTumor",
    "192_vineyard",
    "195_auto_price",
    "197_cpu_act",
    "201_pol",
    "207_autoPrice",
    "210_cloud",
    "215_2dplanes",
    "218_house_8L",
    "225_puma8NH",
    "227_cpu_small",
    "228_elusage",
    "229_pwLinear",
    "230_machine_cpu",
    "294_satellite_image",
    "344_mv",
    "4544_GeographicalOriginalofMusic",
    "485_analcatdata_vehicle",
    "503_wind",
    "505_tecator",
    "519_vinnie",
    "522_pm10",
    "523_analcatdata_neavote",
    "527_analcatdata_election2000",
    "529_pollen",
    "537_houses",
    "542_pollution",
    "547_no2",
    "556_analcatdata_apnea2",
    "557_analcatdata_apnea1",
    "560_bodyfat",
    "561_cpu",
    "562_cpu_small",
    "564_fried",
    "573_cpu_act",
    "574_house_16H",
    "579_fri_c0_250_5",
    "581_fri_c3_500_25",
    "582_fri_c1_500_25",
    "583_fri_c1_1000_50",
    "584_fri_c4_500_25",
    "586_fri_c3_1000_25",
    "588_fri_c4_1000_100",
    "589_fri_c2_1000_25",
    "590_fri_c0_1000_50",
    "591_fri_c1_100_10",
    "592_fri_c4_1000_25",
    "593_fri_c1_1000_10",
    "594_fri_c2_100_5",
    "595_fri_c0_1000_10",
    "596_fri_c2_250_5",
    "597_fri_c2_500_5",
    "598_fri_c0_1000_25",
    "599_fri_c2_1000_5",
    "601_fri_c1_250_5",
    "602_fri_c3_250_10",
    "603_fri_c0_250_50",
    "604_fri_c4_500_10",
    "605_fri_c2_250_25",
    "606_fri_c2_1000_10",
    "607_fri_c4_1000_50",
    "608_fri_c3_1000_10",
    "609_fri_c0_1000_5",
    "611_fri_c3_100_5",
    "612_fri_c1_1000_5",
    "613_fri_c3_250_5",
    "615_fri_c4_250_10",
    "616_fri_c4_500_50",
    "617_fri_c3_500_5",
    "618_fri_c3_1000_50",
    "620_fri_c1_1000_25",
    "621_fri_c0_100_10",
    "622_fri_c2_1000_50",
    "623_fri_c4_1000_10",
    "624_fri_c0_100_5",
    "626_fri_c2_500_50",
    "627_fri_c2_500_10",
    "628_fri_c3_1000_5",
    "631_fri_c1_500_5",
    "633_fri_c0_500_25",
    "634_fri_c2_100_10",
    "635_fri_c0_250_10",
    "637_fri_c1_500_50",
    "641_fri_c1_500_10",
    "643_fri_c2_500_25",
    "644_fri_c4_250_25",
    "645_fri_c3_500_50",
    "646_fri_c3_500_10",
    "647_fri_c1_250_10",
    "648_fri_c1_250_50",
    "649_fri_c0_500_5",
    "650_fri_c0_500_50",
    "651_fri_c0_100_25",
    "653_fri_c0_250_25",
    "654_fri_c0_500_10",
    "656_fri_c1_100_5",
    "657_fri_c2_250_10",
    "658_fri_c3_250_25",
    "659_sleuth_ex1714",
    "663_rabe_266",
    "665_sleuth_case2002",
    "666_rmftsa_ladata",
    "678_visualizing_environmental",
    "687_sleuth_ex1605",
    "690_visualizing_galaxy",
    "695_chatfield_4",
    "706_sleuth_case1202",
    "712_chscase_geyser1",
    "banana",
    "titanic"
]

In [3]:
import os
import json
import pandas as pd

def load_jsons_to_long_df(directory):
    records = []

    for filename in os.listdir(directory):
        if filename.endswith('.json'):
            filepath = os.path.join(directory, filename)
            with open(filepath, 'r') as f:
                data = json.load(f)

            for model, model_data in data.items():
                tau = model_data.get('tau')
                for metric, metric_data in model_data.items():
                    if metric == 'tau':
                        continue
                    for dataset, values in metric_data.items():
                        for run_idx, value in enumerate(values):
                            records.append({
                                'filename': filename,
                                'model': model,
                                'tau': tau,
                                'metric': metric,
                                'dataset': dataset,
                                'run': run_idx,
                                'value': value
                            })

    df = pd.DataFrame.from_records(records)
    return df

# Example usage:
directory = 'results/'  # Replace with your actual directory path
df_long = load_jsons_to_long_df(directory)
# TODO: change to results_timing and re-run analyses
df_long_timing = load_jsons_to_long_df('results/')
# df_long_timing = load_jsons_to_long_df('results_timing/')

In [4]:
df_long_timing

,filename,model,tau,metric,dataset,run,value
0,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,0,0.013109
1,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,1,0.012958
2,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,2,0.018811
3,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,3,0.013429
4,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,4,0.023515
...,...,...,...,...,...,...,...
21615,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,0,0.137714
21616,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,1,0.255429
21617,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,2,0.504053
21618,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,3,0.935991
21619,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,4,1.187911

In [5]:
df_long['dataset_id'] = df_long['dataset'].str.split('_').str[0]
df_long_timing['dataset_id'] = df_long_timing['dataset'].str.split('_').str[0]

In [6]:
avg_df = df_long.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
avg_df_timing = df_long_timing.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(avg_df[avg_df.metric == 'coverage'])
print(stdev_df[stdev_df.metric == 'coverage'])

    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.087895
5   0.5        LightGBM  coverage  0.064430
10  0.5  LinearQuantile  coverage  0.065201
15  0.5             SQR  coverage  0.082943
20  0.9    DecisionTree  coverage  0.066118
24  0.9        LightGBM  coverage  0.039402
29  0.9  LinearQuantile  coverage  0.286541
34  0.9             SQR  coverage  0.049139
    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.103398
5   0.5        LightGBM  coverage  0.069138
10  0.5  LinearQuantile  coverage  0.080679
15  0.5             SQR  coverage  0.091786
20  0.9    DecisionTree  coverage  0.057689
24  0.9        LightGBM  coverage  0.037856
29  0.9  LinearQuantile  coverage  0.207353
34  0.9             SQR  coverage  0.061283

In [7]:
avg_df = df_long.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(avg_df[avg_df.metric == 'losses'])
print(stdev_df[stdev_df.metric == 'losses'])

    tau           model  metric     value
2   0.5    DecisionTree  losses  0.038794
6   0.5        LightGBM  losses  0.042355
11  0.5  LinearQuantile  losses  0.058600
16  0.5             SQR  losses  0.030043
21  0.9    DecisionTree  losses  0.019703
25  0.9        LightGBM  losses  0.024632
30  0.9  LinearQuantile  losses  0.053503
35  0.9             SQR  losses  0.014851
    tau           model  metric     value
2   0.5    DecisionTree  losses  0.017538
6   0.5        LightGBM  losses  0.022201
11  0.5  LinearQuantile  losses  0.030018
16  0.5             SQR  losses  0.021463
21  0.9    DecisionTree  losses  0.009538
25  0.9        LightGBM  losses  0.012220
30  0.9  LinearQuantile  losses  0.044210
35  0.9             SQR  losses  0.013473

In [8]:
print(avg_df[avg_df.metric == 'coverage'])

    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.087895
5   0.5        LightGBM  coverage  0.064430
10  0.5  LinearQuantile  coverage  0.065201
15  0.5             SQR  coverage  0.082943
20  0.9    DecisionTree  coverage  0.066118
24  0.9        LightGBM  coverage  0.039402
29  0.9  LinearQuantile  coverage  0.286541
34  0.9             SQR  coverage  0.049139

In [9]:
print(avg_df[avg_df.metric == 'time_all'])

    tau           model    metric        value
3   0.5    DecisionTree  time_all     0.315487
7   0.5        LightGBM  time_all     5.008716
12  0.5  LinearQuantile  time_all    10.309813
17  0.5             SQR  time_all  3299.124167
22  0.9    DecisionTree  time_all     0.347780
26  0.9        LightGBM  time_all     9.811793
31  0.9  LinearQuantile  time_all    11.506157
36  0.9             SQR  time_all  1906.944231

In [10]:
print(avg_df[avg_df.metric == 'time_fit'])

    tau           model    metric        value
4   0.5    DecisionTree  time_fit     0.030239
8   0.5        LightGBM  time_fit     0.580455
13  0.5  LinearQuantile  time_fit     0.638731
18  0.5             SQR  time_fit  3299.124167
23  0.9    DecisionTree  time_fit     0.027797
27  0.9        LightGBM  time_fit     2.427570
32  0.9  LinearQuantile  time_fit     0.579071
37  0.9             SQR  time_fit  1906.944231

In [11]:
median_df = df_long.groupby(['tau', 'model', 'metric'])['value'].median().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(median_df[median_df.metric == 'time_all'])

    tau           model    metric       value
3   0.5    DecisionTree  time_all    0.062334
7   0.5        LightGBM  time_all    0.211015
12  0.5  LinearQuantile  time_all    0.461874
17  0.5             SQR  time_all  487.705531
22  0.9    DecisionTree  time_all    0.067351
26  0.9        LightGBM  time_all    0.173563
31  0.9  LinearQuantile  time_all    0.529954
36  0.9             SQR  time_all  471.634248

In [12]:
print(median_df[median_df.metric == 'time_fit'])

    tau           model    metric       value
4   0.5    DecisionTree  time_fit    0.008075
8   0.5        LightGBM  time_fit    0.049278
13  0.5  LinearQuantile  time_fit    0.041045
18  0.5             SQR  time_fit  487.705531
23  0.9    DecisionTree  time_fit    0.005041
27  0.9        LightGBM  time_fit    0.036523
32  0.9  LinearQuantile  time_fit    0.047319
37  0.9             SQR  time_fit  471.634248

In [13]:
df_long

,filename,model,tau,metric,dataset,run,value,dataset_id
0,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,0,0.013109,631
1,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,1,0.012958,631
2,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,2,0.018811,631
3,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,3,0.013429,631
4,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,4,0.023515,631
...,...,...,...,...,...,...,...,...
21615,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,0,0.137714,603
21616,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,1,0.255429,603
21617,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,2,0.504053,603
21618,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,3,0.935991,603
21619,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,4,1.187911,603

In [14]:
avg_df = df_long[~df_long.metric.isin(['time_fit', 'time_all'])].groupby(['dataset_id', 'tau', 'model', 'metric'])['value'].mean().reset_index().sort_values(['tau', 'dataset_id','metric'])
avg_df.head()

  dataset_id  tau           model      metric       value
0       1027  0.5    DecisionTree  complexity  127.000000
5       1027  0.5  LinearQuantile  complexity   34.000000
8       1027  0.5             SQR  complexity    8.600000
1       1027  0.5    DecisionTree    coverage    0.276667
3       1027  0.5        LightGBM    coverage    0.053293

In [15]:
avg_df_timing = df_long_timing[df_long_timing.metric == 'time_all'].groupby(['dataset_id', 'tau', 'model', 'metric'])['value'].mean().reset_index()

In [16]:
df_long_timing

,filename,model,tau,metric,dataset,run,value,dataset_id
0,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,0,0.013109,631
1,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,1,0.012958,631
2,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,2,0.018811,631
3,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,3,0.013429,631
4,results50_631_fri_c1_500_5.json,SQR,0.5,losses,631_fri_c1_500_5,4,0.023515,631
...,...,...,...,...,...,...,...,...
21615,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,0,0.137714,603
21616,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,1,0.255429,603
21617,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,2,0.504053,603
21618,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,3,0.935991,603
21619,results90_603_fri_c0_250_50.json,LinearQuantile,0.9,time_fit,603_fri_c0_250_50,4,1.187911,603

In [17]:
# Create dictionary with dataset lengths
dataset_info = {
    'ids': [],
    '$n$': [],
    '$d$': [],
}
for dataset_name in regression_dataset_names:
    if dataset_name in data_list:
        try:
            print(dataset_name)
            data = fetch_data(dataset_name, return_X_y=True)
            X, y = data
            id = dataset_name.split('_')[0]
            dataset_info['ids'].append(id)
            dataset_info['$n$'].append(X.shape[0])
            dataset_info['$d$'].append(X.shape[1])
        except:
            print(f"Error for {dataset_name}")

df_info = pd.DataFrame.from_records(dataset_info)

df_info.head()

1027_ESL
1028_SWD
1029_LEV
1030_ERA
1089_USCrime
1096_FacultySalaries
1191_BNG_pbc
1193_BNG_lowbwt
1196_BNG_pharynx
1199_BNG_echoMonths
1201_BNG_breastTumor
192_vineyard
195_auto_price
Error for 195_auto_price
197_cpu_act
201_pol
207_autoPrice
Error for 207_autoPrice
210_cloud
215_2dplanes
218_house_8L
225_puma8NH
227_cpu_small
228_elusage
229_pwLinear
230_machine_cpu
294_satellite_image
344_mv
4544_GeographicalOriginalofMusic
485_analcatdata_vehicle
503_wind
505_tecator
519_vinnie
522_pm10
523_analcatdata_neavote
527_analcatdata_election2000
529_pollen
537_houses
542_pollution
547_no2
556_analcatdata_apnea2
557_analcatdata_apnea1
560_bodyfat
561_cpu
562_cpu_small
564_fried
573_cpu_act
574_house_16H
579_fri_c0_250_5
581_fri_c3_500_25
582_fri_c1_500_25
583_fri_c1_1000_50
584_fri_c4_500_25
586_fri_c3_1000_25
588_fri_c4_1000_100
589_fri_c2_1000_25
590_fri_c0_1000_50
591_fri_c1_100_10
592_fri_c4_1000_25
593_fri_c1_1000_10
594_fri_c2_100_5
595_fri_c0_1000_10
596_fri_c2_250_5
597_fri_c2_500_5
598_fri_c0_1000_25
599_fri_c2_1000_5
601_fri_c1_250_5
602_fri_c3_250_10
603_fri_c0_250_50
604_fri_c4_500_10
605_fri_c2_250_25
606_fri_c2_1000_10
607_fri_c4_1000_50
608_fri_c3_1000_10
609_fri_c0_1000_5
611_fri_c3_100_5
612_fri_c1_1000_5
613_fri_c3_250_5
615_fri_c4_250_10
616_fri_c4_500_50
617_fri_c3_500_5
618_fri_c3_1000_50
620_fri_c1_1000_25
621_fri_c0_100_10
622_fri_c2_1000_50
623_fri_c4_1000_10
624_fri_c0_100_5
626_fri_c2_500_50
627_fri_c2_500_10
628_fri_c3_1000_5
631_fri_c1_500_5
633_fri_c0_500_25
634_fri_c2_100_10
635_fri_c0_250_10
637_fri_c1_500_50
641_fri_c1_500_10
643_fri_c2_500_25
644_fri_c4_250_25
645_fri_c3_500_50
646_fri_c3_500_10
647_fri_c1_250_10
648_fri_c1_250_50
649_fri_c0_500_5
650_fri_c0_500_50
651_fri_c0_100_25
653_fri_c0_250_25
654_fri_c0_500_10
656_fri_c1_100_5
657_fri_c2_250_10
658_fri_c3_250_25
659_sleuth_ex1714
663_rabe_266
665_sleuth_case2002
666_rmftsa_ladata
678_visualizing_environmental
687_sleuth_ex1605
690_visualizing_galaxy
695_chatfield_4
706_sleuth_case1202
712_chscase_geyser1
banana
titanic

   $d$   $n$   ids
0    4   488  1027
1   10  1000  1028
2    4  1000  1029
3    4  1000  1030
4   13    47  1089

In [18]:
avg_df

     dataset_id  tau           model      metric       value
0          1027  0.5    DecisionTree  complexity  127.000000
5          1027  0.5  LinearQuantile  complexity   34.000000
8          1027  0.5             SQR  complexity    8.600000
1          1027  0.5    DecisionTree    coverage    0.276667
3          1027  0.5        LightGBM    coverage    0.053293
...         ...  ...             ...         ...         ...
2506    titanic  0.9             SQR    coverage    0.098571
2499    titanic  0.9    DecisionTree      losses    0.070219
2501    titanic  0.9        LightGBM      losses    0.067556
2504    titanic  0.9  LinearQuantile      losses    0.065554
2507    titanic  0.9             SQR      losses    0.065696

[2508 rows x 5 columns]

In [19]:
index_cols = ['dataset_id', 'tau',]
pivot_cols = ['metric', 'model']
avg_with_stats = pd.merge(avg_df, df_info, left_on=['dataset_id'], right_on=['ids'], how='inner')
avg_with_stats_timing = pd.merge(avg_df_timing, df_info, left_on=['dataset_id'], right_on=['ids'], how='inner')

In [20]:
avg_df_timing

    dataset_id  tau           model    metric       value
0         1027  0.5    DecisionTree  time_all    0.048754
1         1027  0.5        LightGBM  time_all    0.178550
2         1027  0.5  LinearQuantile  time_all    1.546284
3         1027  0.5             SQR  time_all  417.371688
4         1027  0.9    DecisionTree  time_all    0.048657
..         ...  ...             ...       ...         ...
903    titanic  0.5             SQR  time_all  859.301180
904    titanic  0.9    DecisionTree  time_all    0.133787
905    titanic  0.9        LightGBM  time_all    0.109384
906    titanic  0.9  LinearQuantile  time_all    1.012228
907    titanic  0.9             SQR  time_all  903.903540

[908 rows x 5 columns]

In [21]:
avg_all_stats = pd.concat([avg_with_stats, avg_with_stats_timing]).sort_values(['tau', 'dataset_id','metric'])

In [ ]:
pivot = avg_all_stats.pivot(index=['tau','dataset_id', '$n$', '$d$'], columns=['metric', 'model',], values=['value'])

In [28]:
pivot = avg_all_stats.pivot(index=['tau','dataset_id', '$n$', '$d$'], columns=['metric', 'model',], values=['value'])

    dataset_id  tau           model    metric       value
0         1027  0.5    DecisionTree  time_all    0.048754
1         1027  0.5        LightGBM  time_all    0.178550
2         1027  0.5  LinearQuantile  time_all    1.546284
3         1027  0.5             SQR  time_all  417.371688
4         1027  0.9    DecisionTree  time_all    0.048657
..         ...  ...             ...       ...         ...
903    titanic  0.5             SQR  time_all  859.301180
904    titanic  0.9    DecisionTree  time_all    0.133787
905    titanic  0.9        LightGBM  time_all    0.109384
906    titanic  0.9  LinearQuantile  time_all    1.012228
907    titanic  0.9             SQR  time_all  903.903540

[908 rows x 5 columns]

In [29]:
pivot.to_latex(buf='/tmp/table.tex',float_format="%.2f",longtable=True,multicolumn=True)

In [30]:
pivot

                               value                                    \
metric                    complexity                          coverage
model                   DecisionTree LinearQuantile   SQR DecisionTree
tau dataset_id $n$  $d$
0.5 1027       488  4          127.0           34.0   8.6     0.276667
    1028       1000 10         101.4           31.0   3.0     0.274000
    1029       1000 4          165.8           20.0   3.0     0.301000
    1030       1000 4           42.2            4.0   3.2     0.107000
    1089       47   13           7.0           14.0  11.2     0.155556
...                              ...            ...   ...          ...
0.9 695        235  12          14.2           12.0   2.0     0.067660
    706        93   6            5.4           11.0   8.6     0.044327
    712        222  2           24.6            2.0   3.2     0.039798
    banana     5300 2          146.6            2.0  12.6     0.087547
    titanic    2099 8           87.4           31.0   3.2     0.069031

                                                                         \
metric                                                           losses
model                    LightGBM LinearQuantile       SQR DecisionTree
tau dataset_id $n$  $d$
0.5 1027       488  4    0.053293       0.018430  0.303261     0.030537
    1028       1000 10   0.067000       0.027000  0.207000     0.072500
    1029       1000 4    0.052000       0.031000  0.230000     0.049812
    1030       1000 4    0.059000       0.052000  0.047000     0.075812
    1089       47   13   0.095556       0.144444  0.140000     0.063244
...                           ...            ...       ...          ...
0.9 695        235  12   0.034468       0.052340  0.041277     0.014847
    706        93   6    0.016023       0.089708  0.086433     0.026652
    712        222  2    0.079798       0.106869  0.052626     0.021857
    banana     5300 2    0.100000       0.635283  0.346415     0.027938
    titanic    2099 8    0.100000       0.119637  0.098571     0.070219

                                                                         \
metric                                                         time_all
model                    LightGBM LinearQuantile       SQR DecisionTree
tau dataset_id $n$  $d$
0.5 1027       488  4    0.038563       0.027710  0.036618     0.048754
    1028       1000 10   0.081235       0.081431  0.083167     0.064790
    1029       1000 4    0.066075       0.060289  0.078875     0.079527
    1030       1000 4    0.077701       0.079377  0.084572     0.037574
    1089       47   13   0.117830       0.056674  0.058604     0.015354
...                           ...            ...       ...          ...
0.9 695        235  12   0.018622       0.013100  0.013515     0.032173
    706        93   6    0.032751       0.024138  0.020376     0.020010
    712        222  2    0.023223       0.059274  0.023099     0.025992
    banana     5300 2    0.055170       0.403472  0.036330     0.201511
    titanic    2099 8    0.067556       0.065554  0.065696     0.133787


metric
model                    LightGBM LinearQuantile          SQR
tau dataset_id $n$  $d$
0.5 1027       488  4    0.178550       1.546284   417.371688
    1028       1000 10   0.300018       1.813944   607.824603
    1029       1000 4    0.345356       1.236205   644.401032
    1030       1000 4    0.279260       0.088389   630.110298
    1089       47   13   0.020814       1.940744   278.114929
...                           ...            ...          ...
0.9 695        235  12   0.106865       0.190090   359.216813
    706        93   6    0.066106       0.847623   300.672056
    712        222  2    0.117049       0.064099   376.738821
    banana     5300 2    0.131165       0.045424  2140.997827
    titanic    2099 8    0.109384       1.012228   903.903540

[228 rows x 15 columns]