In [30]:
import numpy as np
import pandas as pd
from pmlb import fetch_data, regression_dataset_names

In [45]:
TAUS = [.5, .6, .7, .8, .9]

data_list = [
    "1027_ESL",
    "1028_SWD",
    "1029_LEV",
    "1030_ERA",
    "1089_USCrime",
    "1096_FacultySalaries",
    "1191_BNG_pbc",
    "1193_BNG_lowbwt",
    "1196_BNG_pharynx",
    "1199_BNG_echoMonths",
    "1201_BNG_breastTumor",
    "192_vineyard",
    "195_auto_price",
    "197_cpu_act",
    "201_pol",
    "207_autoPrice",
    "210_cloud",
    "215_2dplanes",
    "218_house_8L",
    "225_puma8NH",
    "227_cpu_small",
    "228_elusage",
    "229_pwLinear",
    "230_machine_cpu",
    "294_satellite_image",
    "344_mv",
    "4544_GeographicalOriginalofMusic",
    "485_analcatdata_vehicle",
    "503_wind",
    "505_tecator",
    "519_vinnie",
    "522_pm10",
    "523_analcatdata_neavote",
    "527_analcatdata_election2000",
    "529_pollen",
    "537_houses",
    "542_pollution",
    "547_no2",
    "556_analcatdata_apnea2",
    "557_analcatdata_apnea1",
    "560_bodyfat",
    "561_cpu",
    "562_cpu_small",
    "564_fried",
    "573_cpu_act",
    "574_house_16H",
    "579_fri_c0_250_5",
    "581_fri_c3_500_25",
    "582_fri_c1_500_25",
    "583_fri_c1_1000_50",
    "584_fri_c4_500_25",
    "586_fri_c3_1000_25",
    "588_fri_c4_1000_100",
    "589_fri_c2_1000_25",
    "590_fri_c0_1000_50",
    "591_fri_c1_100_10",
    "592_fri_c4_1000_25",
    "593_fri_c1_1000_10",
    "594_fri_c2_100_5",
    "595_fri_c0_1000_10",
    "596_fri_c2_250_5",
    "597_fri_c2_500_5",
    "598_fri_c0_1000_25",
    "599_fri_c2_1000_5",
    "601_fri_c1_250_5",
    "602_fri_c3_250_10",
    "603_fri_c0_250_50",
    "604_fri_c4_500_10",
    "605_fri_c2_250_25",
    "606_fri_c2_1000_10",
    "607_fri_c4_1000_50",
    "608_fri_c3_1000_10",
    "609_fri_c0_1000_5",
    "611_fri_c3_100_5",
    "612_fri_c1_1000_5",
    "613_fri_c3_250_5",
    "615_fri_c4_250_10",
    "616_fri_c4_500_50",
    "617_fri_c3_500_5",
    "618_fri_c3_1000_50",
    "620_fri_c1_1000_25",
    "621_fri_c0_100_10",
    "622_fri_c2_1000_50",
    "623_fri_c4_1000_10",
    "624_fri_c0_100_5",
    "626_fri_c2_500_50",
    "627_fri_c2_500_10",
    "628_fri_c3_1000_5",
    "631_fri_c1_500_5",
    "633_fri_c0_500_25",
    "634_fri_c2_100_10",
    "635_fri_c0_250_10",
    "637_fri_c1_500_50",
    "641_fri_c1_500_10",
    "643_fri_c2_500_25",
    "644_fri_c4_250_25",
    "645_fri_c3_500_50",
    "646_fri_c3_500_10",
    "647_fri_c1_250_10",
    "648_fri_c1_250_50",
    "649_fri_c0_500_5",
    "650_fri_c0_500_50",
    "651_fri_c0_100_25",
    "653_fri_c0_250_25",
    "654_fri_c0_500_10",
    "656_fri_c1_100_5",
    "657_fri_c2_250_10",
    "658_fri_c3_250_25",
    "659_sleuth_ex1714",
    "663_rabe_266",
    "665_sleuth_case2002",
    "666_rmftsa_ladata",
    "678_visualizing_environmental",
    "687_sleuth_ex1605",
    "690_visualizing_galaxy",
    "695_chatfield_4",
    "706_sleuth_case1202",
    "712_chscase_geyser1",
    "banana",
    "titanic"
]

In [ ]:
import os
import json
import pandas as pd

def load_jsons_to_long_df(directory):
    records = []

    for filename in os.listdir(directory):
        if filename.endswith('.json'):
            filepath = os.path.join(directory, filename)
            with open(filepath, 'r') as f:
                data = json.load(f)

            for model, model_data in data.items():
                tau = model_data.get('tau')
                for metric, metric_data in model_data.items():
                    if metric == 'tau':
                        continue
                    for dataset, values in metric_data.items():
                        for run_idx, value in enumerate(values):
                            records.append({
                                'filename': filename,
                                'model': model,
                                'tau': tau,
                                'metric': metric,
                                'dataset': dataset,
                                'run': run_idx,
                                'value': value
                            })

    df = pd.DataFrame.from_records(records)
    return df

# Example usage:
directory = 'results_sampled_10k_taus/'  # Replace with your actual directory path
df_long = load_jsons_to_long_df(directory)
# TODO: change to results_timing and re-run analyses
df_long_timing = load_jsons_to_long_df('results_sampled_10k/')
# df_long_timing = load_jsons_to_long_df('results_timing/')

In [48]:
df_long_timing

,filename,model,tau,metric,dataset,run,value
0,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,0,0.006412
1,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,1,0.010194
2,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,2,0.009437
3,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,3,0.007182
4,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,4,0.007029
...,...,...,...,...,...,...,...
22795,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,0,0.064651
22796,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,1,0.068140
22797,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,2,0.091991
22798,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,3,0.116940
22799,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,4,0.117023

In [49]:
df_long['dataset_id'] = df_long['dataset'].str.split('_').str[0]
df_long_timing['dataset_id'] = df_long_timing['dataset'].str.split('_').str[0]

In [50]:
avg_df = df_long.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
avg_df_timing = df_long_timing.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(avg_df[avg_df.metric == 'coverage'])
print(stdev_df[stdev_df.metric == 'coverage'])

    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.083617
5   0.5        LightGBM  coverage  0.058731
10  0.5  LinearQuantile  coverage  0.059011
15  0.5             SQR  coverage  0.081545
20  0.6    DecisionTree  coverage  0.082887
24  0.6        LightGBM  coverage  0.061871
29  0.6  LinearQuantile  coverage  0.107171
34  0.6             SQR  coverage  0.079607
39  0.7    DecisionTree  coverage  0.087250
43  0.7        LightGBM  coverage  0.059984
48  0.7  LinearQuantile  coverage  0.162340
53  0.7             SQR  coverage  0.073303
58  0.8    DecisionTree  coverage  0.083559
62  0.8        LightGBM  coverage  0.056286
67  0.8  LinearQuantile  coverage  0.218424
72  0.8             SQR  coverage  0.067302
77  0.9    DecisionTree  coverage  0.063960
81  0.9        LightGBM  coverage  0.038269
86  0.9  LinearQuantile  coverage  0.272719
91  0.9             SQR  coverage  0.059893
    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.099913
5   0.5        LightGBM  coverage  0.062022
10  0.5  LinearQuantile  coverage  0.073643
15  0.5             SQR  coverage  0.086229
20  0.6    DecisionTree  coverage  0.082485
24  0.6        LightGBM  coverage  0.070826
29  0.6  LinearQuantile  coverage  0.083173
34  0.6             SQR  coverage  0.080497
39  0.7    DecisionTree  coverage  0.068894
43  0.7        LightGBM  coverage  0.066836
48  0.7  LinearQuantile  coverage  0.117542
53  0.7             SQR  coverage  0.077523
58  0.8    DecisionTree  coverage  0.063142
62  0.8        LightGBM  coverage  0.055699
67  0.8  LinearQuantile  coverage  0.157960
72  0.8             SQR  coverage  0.075860
77  0.9    DecisionTree  coverage  0.057168
81  0.9        LightGBM  coverage  0.037285
86  0.9  LinearQuantile  coverage  0.210919
91  0.9             SQR  coverage  0.075247

In [51]:
avg_df = df_long.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(avg_df[avg_df.metric == 'losses'])
print(stdev_df[stdev_df.metric == 'losses'])

    tau           model  metric     value
2   0.5    DecisionTree  losses  0.038717
6   0.5        LightGBM  losses  0.042091
11  0.5  LinearQuantile  losses  0.057968
16  0.5             SQR  losses  0.032786
21  0.6    DecisionTree  losses  0.038355
25  0.6        LightGBM  losses  0.043994
30  0.6  LinearQuantile  losses  0.059438
35  0.6             SQR  losses  0.031928
40  0.7    DecisionTree  losses  0.035276
44  0.7        LightGBM  losses  0.041879
49  0.7  LinearQuantile  losses  0.058438
54  0.7             SQR  losses  0.029593
59  0.8    DecisionTree  losses  0.029495
63  0.8        LightGBM  losses  0.036403
68  0.8  LinearQuantile  losses  0.056426
73  0.8             SQR  losses  0.027207
78  0.9    DecisionTree  losses  0.019622
82  0.9        LightGBM  losses  0.024369
87  0.9  LinearQuantile  losses  0.052025
92  0.9             SQR  losses  0.017833
    tau           model  metric     value
2   0.5    DecisionTree  losses  0.017254
6   0.5        LightGBM  losses  0.021733
11  0.5  LinearQuantile  losses  0.029411
16  0.5             SQR  losses  0.023446
21  0.6    DecisionTree  losses  0.017221
25  0.6        LightGBM  losses  0.029558
30  0.6  LinearQuantile  losses  0.032132
35  0.6             SQR  losses  0.022149
40  0.7    DecisionTree  losses  0.016283
44  0.7        LightGBM  losses  0.027761
49  0.7  LinearQuantile  losses  0.035775
54  0.7             SQR  losses  0.022415
59  0.8    DecisionTree  losses  0.013844
63  0.8        LightGBM  losses  0.022113
68  0.8  LinearQuantile  losses  0.038815
73  0.8             SQR  losses  0.063031
78  0.9    DecisionTree  losses  0.009453
82  0.9        LightGBM  losses  0.012036
87  0.9  LinearQuantile  losses  0.043581
92  0.9             SQR  losses  0.017741

In [ ]:
print(avg_df[avg_df.metric == 'coverage'])

    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.083617
5   0.5        LightGBM  coverage  0.058731
10  0.5  LinearQuantile  coverage  0.059011
15  0.5             SQR  coverage  0.084373
20  0.9    DecisionTree  coverage  0.063960
24  0.9        LightGBM  coverage  0.038269
29  0.9  LinearQuantile  coverage  0.272719
34  0.9             SQR  coverage  0.058220

In [ ]:
print(avg_df[avg_df.metric == 'time_all'])

    tau           model    metric       value
3   0.5    DecisionTree  time_all    7.848370
7   0.5        LightGBM  time_all    0.604207
12  0.5  LinearQuantile  time_all   70.204955
17  0.5             SQR  time_all  165.945733
22  0.9    DecisionTree  time_all    7.718351
26  0.9        LightGBM  time_all    0.530504
31  0.9  LinearQuantile  time_all   46.001895
36  0.9             SQR  time_all  165.563036

In [ ]:
print(avg_df[avg_df.metric == 'time_fit'])

    tau           model    metric       value
4   0.5    DecisionTree  time_fit    0.526070
8   0.5        LightGBM  time_fit    0.117551
13  0.5  LinearQuantile  time_fit    6.016529
18  0.5             SQR  time_fit  165.945733
23  0.9    DecisionTree  time_fit    0.420747
27  0.9        LightGBM  time_fit    0.102012
32  0.9  LinearQuantile  time_fit    4.190888
37  0.9             SQR  time_fit  165.563036

In [ ]:
median_df = df_long.groupby(['tau', 'model', 'metric'])['value'].median().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(median_df[median_df.metric == 'time_all'])

    tau           model    metric      value
3   0.5    DecisionTree  time_all   0.096155
7   0.5        LightGBM  time_all   0.260032
12  0.5  LinearQuantile  time_all   0.733131
17  0.5             SQR  time_all  91.012772
22  0.9    DecisionTree  time_all   0.089112
26  0.9        LightGBM  time_all   0.207601
31  0.9  LinearQuantile  time_all   0.744888
36  0.9             SQR  time_all  91.666634

In [ ]:
print(median_df[median_df.metric == 'time_fit'])

    tau           model    metric      value
4   0.5    DecisionTree  time_fit   0.014727
8   0.5        LightGBM  time_fit   0.054747
13  0.5  LinearQuantile  time_fit   0.058531
18  0.5             SQR  time_fit  91.012772
23  0.9    DecisionTree  time_fit   0.008359
27  0.9        LightGBM  time_fit   0.042458
32  0.9  LinearQuantile  time_fit   0.058095
37  0.9             SQR  time_fit  91.666634

In [ ]:
df_long

,filename,model,tau,metric,dataset,run,value,dataset_id
0,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,0,0.006412,592
1,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,1,0.010194,592
2,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,2,0.009437,592
3,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,3,0.007182,592
4,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,4,0.007029,592
...,...,...,...,...,...,...,...,...
22795,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,0,0.064651,598
22796,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,1,0.068140,598
22797,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,2,0.091991,598
22798,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,3,0.116940,598
22799,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,4,0.117023,598

In [ ]:
avg_df = df_long[~df_long.metric.isin(['time_fit', 'time_all'])].groupby(['dataset_id', 'tau', 'model', 'metric'])['value'].mean().reset_index().sort_values(['tau', 'dataset_id','metric'])
avg_df.head()

  dataset_id  tau           model      metric       value
0       1027  0.5    DecisionTree  complexity  127.000000
5       1027  0.5  LinearQuantile  complexity   34.000000
8       1027  0.5             SQR  complexity    9.200000
1       1027  0.5    DecisionTree    coverage    0.276667
3       1027  0.5        LightGBM    coverage    0.053293

In [ ]:
avg_df_timing = df_long_timing[df_long_timing.metric == 'time_all'].groupby(['dataset_id', 'tau', 'model', 'metric'])['value'].mean().reset_index()

In [ ]:
df_long_timing

,filename,model,tau,metric,dataset,run,value,dataset_id
0,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,0,0.006412,592
1,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,1,0.010194,592
2,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,2,0.009437,592
3,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,3,0.007182,592
4,results0.9_592_fri_c4_1000_25.json,SQR,0.9,losses,592_fri_c4_1000_25,4,0.007029,592
...,...,...,...,...,...,...,...,...
22795,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,0,0.064651,598
22796,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,1,0.068140,598
22797,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,2,0.091991,598
22798,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,3,0.116940,598
22799,results0.5_598_fri_c0_1000_25.json,LinearQuantile,0.5,time_fit,598_fri_c0_1000_25,4,0.117023,598

In [17]:
# Create dictionary with dataset lengths
dataset_info = {
    'ids': [],
    '$n$': [],
    '$d$': [],
}
for dataset_name in regression_dataset_names:
    if dataset_name in data_list:
        try:
            print(dataset_name)
            data = fetch_data(dataset_name, return_X_y=True)
            X, y = data
            id = dataset_name.split('_')[0]
            dataset_info['ids'].append(id)
            dataset_info['$n$'].append(X.shape[0])
            dataset_info['$d$'].append(X.shape[1])
        except:
            print(f"Error for {dataset_name}")

df_info = pd.DataFrame.from_records(dataset_info)

df_info.head()

1027_ESL
1028_SWD
1029_LEV
1030_ERA
1089_USCrime
1096_FacultySalaries
1191_BNG_pbc
1193_BNG_lowbwt
1196_BNG_pharynx
1199_BNG_echoMonths
1201_BNG_breastTumor
192_vineyard
195_auto_price
Error for 195_auto_price
197_cpu_act
201_pol
207_autoPrice
Error for 207_autoPrice
210_cloud
215_2dplanes
218_house_8L
225_puma8NH
227_cpu_small
228_elusage
229_pwLinear
230_machine_cpu
294_satellite_image
344_mv
4544_GeographicalOriginalofMusic
485_analcatdata_vehicle
503_wind
505_tecator
519_vinnie
522_pm10
523_analcatdata_neavote
527_analcatdata_election2000
529_pollen
537_houses
542_pollution
547_no2
556_analcatdata_apnea2
557_analcatdata_apnea1
560_bodyfat
561_cpu
562_cpu_small
564_fried
573_cpu_act
574_house_16H
579_fri_c0_250_5
581_fri_c3_500_25
582_fri_c1_500_25
583_fri_c1_1000_50
584_fri_c4_500_25
586_fri_c3_1000_25
588_fri_c4_1000_100
589_fri_c2_1000_25
590_fri_c0_1000_50
591_fri_c1_100_10
592_fri_c4_1000_25
593_fri_c1_1000_10
594_fri_c2_100_5
595_fri_c0_1000_10
596_fri_c2_250_5
597_fri_c2_500_5
598_fri_c0_1000_25
599_fri_c2_1000_5
601_fri_c1_250_5
602_fri_c3_250_10
603_fri_c0_250_50
604_fri_c4_500_10
605_fri_c2_250_25
606_fri_c2_1000_10
607_fri_c4_1000_50
608_fri_c3_1000_10
609_fri_c0_1000_5
611_fri_c3_100_5
612_fri_c1_1000_5
613_fri_c3_250_5
615_fri_c4_250_10
616_fri_c4_500_50
617_fri_c3_500_5
618_fri_c3_1000_50
620_fri_c1_1000_25
621_fri_c0_100_10
622_fri_c2_1000_50
623_fri_c4_1000_10
624_fri_c0_100_5
626_fri_c2_500_50
627_fri_c2_500_10
628_fri_c3_1000_5
631_fri_c1_500_5
633_fri_c0_500_25
634_fri_c2_100_10
635_fri_c0_250_10
637_fri_c1_500_50
641_fri_c1_500_10
643_fri_c2_500_25
644_fri_c4_250_25
645_fri_c3_500_50
646_fri_c3_500_10
647_fri_c1_250_10
648_fri_c1_250_50
649_fri_c0_500_5
650_fri_c0_500_50
651_fri_c0_100_25
653_fri_c0_250_25
654_fri_c0_500_10
656_fri_c1_100_5
657_fri_c2_250_10
658_fri_c3_250_25
659_sleuth_ex1714
663_rabe_266
665_sleuth_case2002
666_rmftsa_ladata
678_visualizing_environmental
687_sleuth_ex1605
690_visualizing_galaxy
695_chatfield_4
706_sleuth_case1202
712_chscase_geyser1
banana
titanic

   $d$   $n$   ids
0    4   488  1027
1   10  1000  1028
2    4  1000  1029
3    4  1000  1030
4   13    47  1089

In [18]:
avg_df

     dataset_id  tau           model      metric       value
0          1027  0.5    DecisionTree  complexity  127.000000
5          1027  0.5  LinearQuantile  complexity   34.000000
8          1027  0.5             SQR  complexity    9.200000
1          1027  0.5    DecisionTree    coverage    0.276667
3          1027  0.5        LightGBM    coverage    0.053293
...         ...  ...             ...         ...         ...
2638    titanic  0.9             SQR    coverage    0.097617
2631    titanic  0.9    DecisionTree      losses    0.070219
2633    titanic  0.9        LightGBM      losses    0.067556
2636    titanic  0.9  LinearQuantile      losses    0.065554
2639    titanic  0.9             SQR      losses    0.065648

[2640 rows x 5 columns]

In [19]:
index_cols = ['dataset_id', 'tau',]
pivot_cols = ['metric', 'model']
avg_with_stats = pd.merge(avg_df, df_info, left_on=['dataset_id'], right_on=['ids'], how='inner')
avg_with_stats_timing = pd.merge(avg_df_timing, df_info, left_on=['dataset_id'], right_on=['ids'], how='inner')

In [20]:
avg_df_timing

    dataset_id  tau           model    metric       value
0         1027  0.5    DecisionTree  time_all    0.066267
1         1027  0.5        LightGBM  time_all    0.213215
2         1027  0.5  LinearQuantile  time_all    1.779544
3         1027  0.5             SQR  time_all   89.339320
4         1027  0.9    DecisionTree  time_all    0.065774
..         ...  ...             ...       ...         ...
955    titanic  0.5             SQR  time_all   98.602201
956    titanic  0.9    DecisionTree  time_all    0.184066
957    titanic  0.9        LightGBM  time_all    0.125104
958    titanic  0.9  LinearQuantile  time_all    1.168151
959    titanic  0.9             SQR  time_all  113.637069

[960 rows x 5 columns]

In [21]:
avg_all_stats = pd.concat([avg_with_stats, avg_with_stats_timing]).sort_values(['tau', 'dataset_id','metric'])

In [22]:
pivot = avg_all_stats.pivot(index=['tau','dataset_id', '$n$', '$d$'], columns=['metric', 'model',], values=['value'])

In [23]:
pivot = avg_all_stats.pivot(index=['tau','dataset_id', '$n$', '$d$'], columns=['metric', 'model',], values=['value'])

In [24]:
pivot.to_latex(buf='/tmp/table.tex',float_format="%.2f",longtable=True,multicolumn=True)

In [25]:
pivot

                               value                                    \
metric                    complexity                          coverage
model                   DecisionTree LinearQuantile   SQR DecisionTree
tau dataset_id $n$  $d$
0.5 1027       488  4          127.0           34.0   9.2     0.276667
    1028       1000 10         101.4           31.0   3.0     0.274000
    1029       1000 4          165.8           20.0   5.0     0.301000
    1030       1000 4           42.2            4.0   3.8     0.107000
    1089       47   13           7.0           14.0  12.0     0.155556
...                              ...            ...   ...          ...
0.9 695        235  12          14.2           12.0   6.8     0.067660
    706        93   6            5.4           11.0   9.2     0.044327
    712        222  2           24.6            2.0   4.2     0.039798
    banana     5300 2          146.6            2.0  11.4     0.087547
    titanic    2099 8           87.4           31.0   3.8     0.069031

                                                                         \
metric                                                           losses
model                    LightGBM LinearQuantile       SQR DecisionTree
tau dataset_id $n$  $d$
0.5 1027       488  4    0.053293       0.018430  0.288912     0.030537
    1028       1000 10   0.067000       0.027000  0.207000     0.072500
    1029       1000 4    0.052000       0.031000  0.259000     0.049812
    1030       1000 4    0.059000       0.052000  0.081000     0.075812
    1089       47   13   0.095556       0.144444  0.177778     0.063244
...                           ...            ...       ...          ...
0.9 695        235  12   0.034468       0.052340  0.061702     0.014847
    706        93   6    0.016023       0.089708  0.111930     0.026652
    712        222  2    0.079798       0.106869  0.065556     0.021857
    banana     5300 2    0.100000       0.635283  0.348113     0.027938
    titanic    2099 8    0.100000       0.119637  0.097617     0.070219

                                                                         \
metric                                                         time_all
model                    LightGBM LinearQuantile       SQR DecisionTree
tau dataset_id $n$  $d$
0.5 1027       488  4    0.038563       0.027710  0.034946     0.066267
    1028       1000 10   0.081235       0.081431  0.083167     0.102564
    1029       1000 4    0.066075       0.060289  0.075625     0.094663
    1030       1000 4    0.077701       0.079377  0.083763     0.069734
    1089       47   13   0.117830       0.056674  0.068081     0.027937
...                           ...            ...       ...          ...
0.9 695        235  12   0.018622       0.013100  0.013459     0.050191
    706        93   6    0.032751       0.024138  0.022955     0.030831
    712        222  2    0.023223       0.059274  0.024544     0.040325
    banana     5300 2    0.055170       0.403472  0.038823     0.315304
    titanic    2099 8    0.067556       0.065554  0.065648     0.184066


metric
model                    LightGBM LinearQuantile         SQR
tau dataset_id $n$  $d$
0.5 1027       488  4    0.213215       1.779544   89.339320
    1028       1000 10   0.355688       1.687389   84.573618
    1029       1000 4    0.376962       1.209312   85.603475
    1030       1000 4    0.329713       0.164797   96.644361
    1089       47   13   0.043032       2.326488   67.252618
...                           ...            ...         ...
0.9 695        235  12   0.127678       0.295358   77.815179
    706        93   6    0.081248       0.942949   72.762110
    712        222  2    0.131453       0.097752   74.762117
    banana     5300 2    0.151540       0.067834  205.139664
    titanic    2099 8    0.125104       1.168151  113.637069

[236 rows x 15 columns]

In [26]:
# Generalized analysis across tau values - Coverage Metric
print("=" * 80)
print("COVERAGE METRIC ACROSS TAU VALUES")
print("=" * 80)

coverage_df = df_long[df_long['metric'] == 'coverage'].groupby(['tau', 'model'])['value'].agg(['mean', 'std']).reset_index()
coverage_pivot = coverage_df.pivot(index='tau', columns='model', values='mean')
coverage_pivot_std = coverage_df.pivot(index='tau', columns='model', values='std')

print("\nMean Coverage by Tau and Model:")
print(coverage_pivot)
print("\nStandard Deviation of Coverage by Tau and Model:")
print(coverage_pivot_std)

================================================================================
COVERAGE METRIC ACROSS TAU VALUES
================================================================================

Mean Coverage by Tau and Model:
model  DecisionTree  LightGBM  LinearQuantile       SQR
tau
0.5        0.083617  0.058731        0.059011  0.084373
0.9        0.063960  0.038269        0.272719  0.058220

Standard Deviation of Coverage by Tau and Model:
model  DecisionTree  LightGBM  LinearQuantile       SQR
tau
0.5        0.099913  0.062022        0.073643  0.083833
0.9        0.057168  0.037285        0.210919  0.070994

In [27]:
# Generalized analysis across tau values - Losses Metric
print("\n" + "=" * 80)
print("LOSSES METRIC ACROSS TAU VALUES")
print("=" * 80)

losses_df = df_long[df_long['metric'] == 'losses'].groupby(['tau', 'model'])['value'].agg(['mean', 'std']).reset_index()
losses_pivot = losses_df.pivot(index='tau', columns='model', values='mean')
losses_pivot_std = losses_df.pivot(index='tau', columns='model', values='std')

print("\nMean Losses by Tau and Model:")
print(losses_pivot)
print("\nStandard Deviation of Losses by Tau and Model:")
print(losses_pivot_std)

================================================================================
LOSSES METRIC ACROSS TAU VALUES
================================================================================

Mean Losses by Tau and Model:
model  DecisionTree  LightGBM  LinearQuantile       SQR
tau
0.5        0.038717  0.042091        0.057968       inf
0.9        0.019622  0.024369        0.052025  0.016737

Standard Deviation of Losses by Tau and Model:
model  DecisionTree  LightGBM  LinearQuantile       SQR
tau
0.5        0.017254  0.021733        0.029411       NaN
0.9        0.009453  0.012036        0.043581  0.013388

In [28]:
# Combined summary table with confidence intervals
print("\n" + "=" * 80)
print("SUMMARY TABLE: MEAN (STD) ACROSS TAU AND MODELS")
print("=" * 80)

# Coverage summary
coverage_summary = coverage_df.copy()
coverage_summary['value'] = coverage_summary.apply(
    lambda row: f"{row['mean']:.4f} ({row['std']:.4f})", axis=1
).values
coverage_summary_pivot = coverage_summary.pivot(index='tau', columns='model', values='value')
print("\nCoverage - Mean (Std):")
print(coverage_summary_pivot)

# Losses summary
losses_summary = losses_df.copy()
losses_summary['value'] = losses_summary.apply(
    lambda row: f"{row['mean']:.4f} ({row['std']:.4f})", axis=1
).values
losses_summary_pivot = losses_summary.pivot(index='tau', columns='model', values='value')
print("\nLosses - Mean (Std):")
print(losses_summary_pivot)

================================================================================
SUMMARY TABLE: MEAN (STD) ACROSS TAU AND MODELS
================================================================================

Coverage - Mean (Std):
model     DecisionTree         LightGBM   LinearQuantile              SQR
tau
0.5    0.0836 (0.0999)  0.0587 (0.0620)  0.0590 (0.0736)  0.0844 (0.0838)
0.9    0.0640 (0.0572)  0.0383 (0.0373)  0.2727 (0.2109)  0.0582 (0.0710)

Losses - Mean (Std):
model     DecisionTree         LightGBM   LinearQuantile              SQR
tau
0.5    0.0387 (0.0173)  0.0421 (0.0217)  0.0580 (0.0294)        inf (nan)
0.9    0.0196 (0.0095)  0.0244 (0.0120)  0.0520 (0.0436)  0.0167 (0.0134)