In [1]:
import numpy as np
import pandas as pd
from pmlb import fetch_data, regression_dataset_names

In [2]:
data_list = [
    "1027_ESL",
    "1028_SWD",
    "1029_LEV",
    "1030_ERA",
    "1089_USCrime",
    "1096_FacultySalaries",
    "1191_BNG_pbc",
    "1193_BNG_lowbwt",
    "1196_BNG_pharynx",
    "1199_BNG_echoMonths",
    "1201_BNG_breastTumor",
    "192_vineyard",
    "195_auto_price",
    "197_cpu_act",
    "201_pol",
    "207_autoPrice",
    "210_cloud",
    "215_2dplanes",
    "218_house_8L",
    "225_puma8NH",
    "227_cpu_small",
    "228_elusage",
    "229_pwLinear",
    "230_machine_cpu",
    "294_satellite_image",
    "344_mv",
    "4544_GeographicalOriginalofMusic",
    "485_analcatdata_vehicle",
    "503_wind",
    "505_tecator",
    "519_vinnie",
    "522_pm10",
    "523_analcatdata_neavote",
    "527_analcatdata_election2000",
    "529_pollen",
    "537_houses",
    "542_pollution",
    "547_no2",
    "556_analcatdata_apnea2",
    "557_analcatdata_apnea1",
    "560_bodyfat",
    "561_cpu",
    "562_cpu_small",
    "564_fried",
    "573_cpu_act",
    "574_house_16H",
    "579_fri_c0_250_5",
    "581_fri_c3_500_25",
    "582_fri_c1_500_25",
    "583_fri_c1_1000_50",
    "584_fri_c4_500_25",
    "586_fri_c3_1000_25",
    "588_fri_c4_1000_100",
    "589_fri_c2_1000_25",
    "590_fri_c0_1000_50",
    "591_fri_c1_100_10",
    "592_fri_c4_1000_25",
    "593_fri_c1_1000_10",
    "594_fri_c2_100_5",
    "595_fri_c0_1000_10",
    "596_fri_c2_250_5",
    "597_fri_c2_500_5",
    "598_fri_c0_1000_25",
    "599_fri_c2_1000_5",
    "601_fri_c1_250_5",
    "602_fri_c3_250_10",
    "603_fri_c0_250_50",
    "604_fri_c4_500_10",
    "605_fri_c2_250_25",
    "606_fri_c2_1000_10",
    "607_fri_c4_1000_50",
    "608_fri_c3_1000_10",
    "609_fri_c0_1000_5",
    "611_fri_c3_100_5",
    "612_fri_c1_1000_5",
    "613_fri_c3_250_5",
    "615_fri_c4_250_10",
    "616_fri_c4_500_50",
    "617_fri_c3_500_5",
    "618_fri_c3_1000_50",
    "620_fri_c1_1000_25",
    "621_fri_c0_100_10",
    "622_fri_c2_1000_50",
    "623_fri_c4_1000_10",
    "624_fri_c0_100_5",
    "626_fri_c2_500_50",
    "627_fri_c2_500_10",
    "628_fri_c3_1000_5",
    "631_fri_c1_500_5",
    "633_fri_c0_500_25",
    "634_fri_c2_100_10",
    "635_fri_c0_250_10",
    "637_fri_c1_500_50",
    "641_fri_c1_500_10",
    "643_fri_c2_500_25",
    "644_fri_c4_250_25",
    "645_fri_c3_500_50",
    "646_fri_c3_500_10",
    "647_fri_c1_250_10",
    "648_fri_c1_250_50",
    "649_fri_c0_500_5",
    "650_fri_c0_500_50",
    "651_fri_c0_100_25",
    "653_fri_c0_250_25",
    "654_fri_c0_500_10",
    "656_fri_c1_100_5",
    "657_fri_c2_250_10",
    "658_fri_c3_250_25",
    "659_sleuth_ex1714",
    "663_rabe_266",
    "665_sleuth_case2002",
    "666_rmftsa_ladata",
    "678_visualizing_environmental",
    "687_sleuth_ex1605",
    "690_visualizing_galaxy",
    "695_chatfield_4",
    "706_sleuth_case1202",
    "712_chscase_geyser1",
    "banana",
    "titanic"
]

In [ ]:
import os
import json
import pandas as pd

def load_jsons_to_long_df(directory):
    records = []

    for filename in os.listdir(directory):
        if filename.endswith('.json'):
            filepath = os.path.join(directory, filename)
            with open(filepath, 'r') as f:
                data = json.load(f)

            for model, model_data in data.items():
                tau = model_data.get('tau')
                for metric, metric_data in model_data.items():
                    if metric == 'tau':
                        continue
                    for dataset, values in metric_data.items():
                        for run_idx, value in enumerate(values):
                            records.append({
                                'filename': filename,
                                'model': model,
                                'tau': tau,
                                'metric': metric,
                                'dataset': dataset,
                                'run': run_idx,
                                'value': value
                            })

    df = pd.DataFrame.from_records(records)
    return df

# Example usage:
directory = 'results_ood/'  # Replace with your actual directory path
df_long = load_jsons_to_long_df(directory)
# TODO: change to results_timing and re-run analyses
df_long_timing = load_jsons_to_long_df('results_ood/')
# df_long_timing = load_jsons_to_long_df('results_timing/')

In [6]:
df_long_timing

,filename,model,tau,metric,dataset,run,value
0,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,0,0.107827
1,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,1,0.044000
2,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,2,0.125162
3,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,3,0.112297
4,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,4,0.034729
...,...,...,...,...,...,...,...
16886,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,0,0.721290
16887,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,1,0.182579
16888,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,2,0.253649
16889,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,3,0.598320
16890,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,4,0.940698

In [7]:
df_long['dataset_id'] = df_long['dataset'].str.split('_').str[0]
df_long_timing['dataset_id'] = df_long_timing['dataset'].str.split('_').str[0]

In [8]:
avg_df = df_long.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
avg_df_timing = df_long_timing.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(avg_df[avg_df.metric == 'coverage'])
print(stdev_df[stdev_df.metric == 'coverage'])

    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.308901
5   0.5        LightGBM  coverage  0.354644
10  0.5  LinearQuantile  coverage  0.313807
15  0.5             SQR  coverage  0.243652
20  0.9    DecisionTree  coverage  0.296951
24  0.9        LightGBM  coverage  0.260455
29  0.9  LinearQuantile  coverage  0.563477
34  0.9             SQR  coverage  0.192376
    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.151544
5   0.5        LightGBM  coverage  0.138006
10  0.5  LinearQuantile  coverage  0.165009
15  0.5             SQR  coverage  0.168544
20  0.9    DecisionTree  coverage  0.231582
24  0.9        LightGBM  coverage  0.208549
29  0.9  LinearQuantile  coverage  0.333244
34  0.9             SQR  coverage  0.203438

In [9]:
avg_df = df_long.groupby(['tau', 'model', 'metric'])['value'].mean().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(avg_df[avg_df.metric == 'losses'])
print(stdev_df[stdev_df.metric == 'losses'])

    tau           model  metric     value
2   0.5    DecisionTree  losses  0.071842
6   0.5        LightGBM  losses  0.085174
11  0.5  LinearQuantile  losses  0.102027
16  0.5             SQR  losses  0.059500
21  0.9    DecisionTree  losses  0.044774
25  0.9        LightGBM  losses  0.043937
30  0.9  LinearQuantile  losses  0.162585
35  0.9             SQR  losses  0.029744
    tau           model  metric     value
2   0.5    DecisionTree  losses  0.042181
6   0.5        LightGBM  losses  0.045378
11  0.5  LinearQuantile  losses  0.097461
16  0.5             SQR  losses  0.060880
21  0.9    DecisionTree  losses  0.049462
25  0.9        LightGBM  losses  0.051213
30  0.9  LinearQuantile  losses  0.140778
35  0.9             SQR  losses  0.077375

In [10]:
print(avg_df[avg_df.metric == 'coverage'])

    tau           model    metric     value
1   0.5    DecisionTree  coverage  0.308901
5   0.5        LightGBM  coverage  0.354644
10  0.5  LinearQuantile  coverage  0.313807
15  0.5             SQR  coverage  0.243652
20  0.9    DecisionTree  coverage  0.296951
24  0.9        LightGBM  coverage  0.260455
29  0.9  LinearQuantile  coverage  0.563477
34  0.9             SQR  coverage  0.192376

In [11]:
print(avg_df[avg_df.metric == 'time_all'])

    tau           model    metric       value
3   0.5    DecisionTree  time_all    0.347737
7   0.5        LightGBM  time_all    0.400479
12  0.5  LinearQuantile  time_all    8.627032
17  0.5             SQR  time_all  132.711929
22  0.9    DecisionTree  time_all    0.338931
26  0.9        LightGBM  time_all    0.311680
31  0.9  LinearQuantile  time_all    8.779300
36  0.9             SQR  time_all  131.123017

In [12]:
print(avg_df[avg_df.metric == 'time_fit'])

    tau           model    metric       value
4   0.5    DecisionTree  time_fit    0.039955
8   0.5        LightGBM  time_fit    0.087012
13  0.5  LinearQuantile  time_fit    0.810809
18  0.5             SQR  time_fit  132.711929
23  0.9    DecisionTree  time_fit    0.024497
27  0.9        LightGBM  time_fit    0.066074
32  0.9  LinearQuantile  time_fit    0.780202
37  0.9             SQR  time_fit  131.123017

In [13]:
median_df = df_long.groupby(['tau', 'model', 'metric'])['value'].median().reset_index()
stdev_df = df_long.groupby(['tau', 'model', 'metric'])['value'].std().reset_index()
print(median_df[median_df.metric == 'time_all'])

    tau           model    metric      value
3   0.5    DecisionTree  time_all   0.089722
7   0.5        LightGBM  time_all   0.248046
12  0.5  LinearQuantile  time_all   0.608066
17  0.5             SQR  time_all  90.666415
22  0.9    DecisionTree  time_all   0.082449
26  0.9        LightGBM  time_all   0.192285
31  0.9  LinearQuantile  time_all   0.757142
36  0.9             SQR  time_all  90.677771

In [14]:
print(median_df[median_df.metric == 'time_fit'])

    tau           model    metric      value
4   0.5    DecisionTree  time_fit   0.013595
8   0.5        LightGBM  time_fit   0.062160
13  0.5  LinearQuantile  time_fit   0.049513
18  0.5             SQR  time_fit  90.666415
23  0.9    DecisionTree  time_fit   0.006936
27  0.9        LightGBM  time_fit   0.043329
32  0.9  LinearQuantile  time_fit   0.058557
37  0.9             SQR  time_fit  90.677771

In [15]:
df_long

,filename,model,tau,metric,dataset,run,value,dataset_id
0,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,0,0.107827,626
1,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,1,0.044000,626
2,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,2,0.125162,626
3,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,3,0.112297,626
4,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,4,0.034729,626
...,...,...,...,...,...,...,...,...
16886,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,0,0.721290,294
16887,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,1,0.182579,294
16888,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,2,0.253649,294
16889,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,3,0.598320,294
16890,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,4,0.940698,294

In [16]:
avg_df = df_long[~df_long.metric.isin(['time_fit', 'time_all'])].groupby(['dataset_id', 'tau', 'model', 'metric'])['value'].mean().reset_index().sort_values(['tau', 'dataset_id','metric'])
avg_df.head()

  dataset_id  tau           model      metric      value
0       1030  0.5    DecisionTree  complexity  37.000000
5       1030  0.5  LinearQuantile  complexity   4.000000
8       1030  0.5             SQR  complexity   3.600000
1       1030  0.5    DecisionTree    coverage   0.133612
3       1030  0.5        LightGBM    coverage   0.099085

In [17]:
avg_df_timing = df_long_timing[df_long_timing.metric == 'time_all'].groupby(['dataset_id', 'tau', 'model', 'metric'])['value'].mean().reset_index()

In [18]:
df_long_timing

,filename,model,tau,metric,dataset,run,value,dataset_id
0,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,0,0.107827,626
1,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,1,0.044000,626
2,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,2,0.125162,626
3,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,3,0.112297,626
4,results_0.5_626_fri_c2_500_50_10000OOD_tau0.5....,SQR,0.5,losses,626_fri_c2_500_50,4,0.034729,626
...,...,...,...,...,...,...,...,...
16886,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,0,0.721290,294
16887,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,1,0.182579,294
16888,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,2,0.253649,294
16889,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,3,0.598320,294
16890,results_0.9_294_satellite_image_10000OOD_tau0....,LinearQuantile,0.9,time_fit,294_satellite_image,4,0.940698,294

In [19]:
# Create dictionary with dataset lengths
dataset_info = {
    'ids': [],
    '$n$': [],
    '$d$': [],
}
for dataset_name in regression_dataset_names:
    if dataset_name in data_list:
        try:
            print(dataset_name)
            data = fetch_data(dataset_name, return_X_y=True)
            X, y = data
            id = dataset_name.split('_')[0]
            dataset_info['ids'].append(id)
            dataset_info['$n$'].append(X.shape[0])
            dataset_info['$d$'].append(X.shape[1])
        except:
            print(f"Error for {dataset_name}")

df_info = pd.DataFrame.from_records(dataset_info)

df_info.head()

1027_ESL
1028_SWD
1029_LEV
1030_ERA
1089_USCrime
1096_FacultySalaries
1191_BNG_pbc
1193_BNG_lowbwt
1196_BNG_pharynx
1199_BNG_echoMonths
1201_BNG_breastTumor
192_vineyard
195_auto_price
Error for 195_auto_price
197_cpu_act
201_pol
207_autoPrice
Error for 207_autoPrice
210_cloud
215_2dplanes
218_house_8L
225_puma8NH
227_cpu_small
228_elusage
229_pwLinear
230_machine_cpu
294_satellite_image
344_mv
4544_GeographicalOriginalofMusic
485_analcatdata_vehicle
503_wind
505_tecator
519_vinnie
522_pm10
523_analcatdata_neavote
527_analcatdata_election2000
529_pollen
537_houses
542_pollution
547_no2
556_analcatdata_apnea2
557_analcatdata_apnea1
560_bodyfat
561_cpu
562_cpu_small
564_fried
573_cpu_act
574_house_16H
579_fri_c0_250_5
581_fri_c3_500_25
582_fri_c1_500_25
583_fri_c1_1000_50
584_fri_c4_500_25
586_fri_c3_1000_25
588_fri_c4_1000_100
589_fri_c2_1000_25
590_fri_c0_1000_50
591_fri_c1_100_10
592_fri_c4_1000_25
593_fri_c1_1000_10
594_fri_c2_100_5
595_fri_c0_1000_10
596_fri_c2_250_5
597_fri_c2_500_5
598_fri_c0_1000_25
599_fri_c2_1000_5
601_fri_c1_250_5
602_fri_c3_250_10
603_fri_c0_250_50
604_fri_c4_500_10
605_fri_c2_250_25
606_fri_c2_1000_10
607_fri_c4_1000_50
608_fri_c3_1000_10
609_fri_c0_1000_5
611_fri_c3_100_5
612_fri_c1_1000_5
613_fri_c3_250_5
615_fri_c4_250_10
616_fri_c4_500_50
617_fri_c3_500_5
618_fri_c3_1000_50
620_fri_c1_1000_25
621_fri_c0_100_10
622_fri_c2_1000_50
623_fri_c4_1000_10
624_fri_c0_100_5
626_fri_c2_500_50
627_fri_c2_500_10
628_fri_c3_1000_5
631_fri_c1_500_5
633_fri_c0_500_25
634_fri_c2_100_10
635_fri_c0_250_10
637_fri_c1_500_50
641_fri_c1_500_10
643_fri_c2_500_25
644_fri_c4_250_25
645_fri_c3_500_50
646_fri_c3_500_10
647_fri_c1_250_10
648_fri_c1_250_50
649_fri_c0_500_5
650_fri_c0_500_50
651_fri_c0_100_25
653_fri_c0_250_25
654_fri_c0_500_10
656_fri_c1_100_5
657_fri_c2_250_10
658_fri_c3_250_25
659_sleuth_ex1714
663_rabe_266
665_sleuth_case2002
666_rmftsa_ladata
678_visualizing_environmental
687_sleuth_ex1605
690_visualizing_galaxy
695_chatfield_4
706_sleuth_case1202
712_chscase_geyser1
banana
titanic

   $d$   $n$   ids
0    4   488  1027
1   10  1000  1028
2    4  1000  1029
3    4  1000  1030
4   13    47  1089

In [20]:
avg_df

     dataset_id  tau           model      metric      value
0          1030  0.5    DecisionTree  complexity  37.000000
5          1030  0.5  LinearQuantile  complexity   4.000000
8          1030  0.5             SQR  complexity   3.600000
1          1030  0.5    DecisionTree    coverage   0.133612
3          1030  0.5        LightGBM    coverage   0.099085
...         ...  ...             ...         ...        ...
2022     banana  0.9             SQR    coverage   0.370137
2015     banana  0.9    DecisionTree      losses   0.053453
2017     banana  0.9        LightGBM      losses   0.052776
2020     banana  0.9  LinearQuantile      losses   0.425021
2023     banana  0.9             SQR      losses   0.114756

[2024 rows x 5 columns]

In [21]:
index_cols = ['dataset_id', 'tau',]
pivot_cols = ['metric', 'model']
avg_with_stats = pd.merge(avg_df, df_info, left_on=['dataset_id'], right_on=['ids'], how='inner')
avg_with_stats_timing = pd.merge(avg_df_timing, df_info, left_on=['dataset_id'], right_on=['ids'], how='inner')

In [22]:
avg_df_timing

    dataset_id  tau           model    metric       value
0         1030  0.5    DecisionTree  time_all    0.060635
1         1030  0.5        LightGBM  time_all    0.281453
2         1030  0.5  LinearQuantile  time_all    0.116099
3         1030  0.5             SQR  time_all   93.505004
4         1030  0.9    DecisionTree  time_all    0.059368
..         ...  ...             ...       ...         ...
731     banana  0.5             SQR  time_all  276.309777
732     banana  0.9    DecisionTree  time_all    0.283644
733     banana  0.9        LightGBM  time_all    0.105128
734     banana  0.9  LinearQuantile  time_all    0.125533
735     banana  0.9             SQR  time_all  192.581594

[736 rows x 5 columns]

In [23]:
avg_all_stats = pd.concat([avg_with_stats, avg_with_stats_timing]).sort_values(['tau', 'dataset_id','metric'])

In [24]:
pivot = avg_all_stats.pivot(index=['tau','dataset_id', '$n$', '$d$'], columns=['metric', 'model',], values=['value'])

In [25]:
pivot = avg_all_stats.pivot(index=['tau','dataset_id', '$n$', '$d$'], columns=['metric', 'model',], values=['value'])

In [26]:
pivot.to_latex(buf='/tmp/table.tex',float_format="%.2f",longtable=True,multicolumn=True)

In [27]:
pivot

                                value                                         \
metric                     complexity                               coverage
model                    DecisionTree LinearQuantile        SQR DecisionTree
tau dataset_id $n$   $d$
0.5 1030       1000  4           37.0            4.0   3.600000     0.133612
    192        52    2            7.0            2.0   5.250000     0.416667
    197        8192  21         998.6           21.0   5.600000     0.234249
    218        22784 8         1475.4            8.0   4.600000     0.144082
    225        8192  8          203.4            8.0   3.000000     0.107971
...                               ...            ...        ...          ...
0.9 678        111   3           29.0            3.0   5.666667     0.100000
    687        62    5           14.0            5.0   5.250000     0.133333
    695        235   12          35.4           12.0   3.200000     0.432727
    712        222   2           14.6            2.0   3.000000     0.330000
    banana     5300  2          394.6            2.0  10.800000     0.061276

                                                                          \
metric                                                            losses
model                     LightGBM LinearQuantile       SQR DecisionTree
tau dataset_id $n$   $d$
0.5 1030       1000  4    0.099085       0.161376  0.139041     0.100716
    192        52    2    0.500000       0.500000  0.416667     0.029255
    197        8192  21   0.253941       0.327813  0.180186     0.171727
    218        22784 8    0.282549       0.221646  0.361397     0.053195
    225        8192  8    0.031321       0.192185  0.026794     0.059954
...                            ...            ...       ...          ...
0.9 678        111   3    0.100000       0.376190  0.100000     0.017202
    687        62    5    0.208333       0.100000  0.100000     0.013321
    695        235   12   0.487273       0.096364  0.123030     0.075656
    712        222   2    0.330000       0.100000  0.100000     0.016572
    banana     5300  2    0.100000       0.900000  0.370137     0.053453

                                                                          \
metric                                                          time_all
model                     LightGBM LinearQuantile       SQR DecisionTree
tau dataset_id $n$   $d$
0.5 1030       1000  4    0.089222       0.091162  0.087607     0.060635
    192        52    2    0.062943       0.053167  0.066344     0.024637
    197        8192  21   0.174426       0.406515  0.172996     1.217870
    218        22784 8    0.063002       0.071441  0.094717     2.246717
    225        8192  8    0.057478       0.085803  0.055381     0.729475
...                            ...            ...       ...          ...
0.9 678        111   3    0.037634       0.045312  0.028717     0.030524
    687        62    5    0.019834       0.042307  0.033814     0.025971
    695        235   12   0.103700       0.024042  0.027130     0.045281
    712        222   2    0.030009       0.073370  0.018611     0.036547
    banana     5300  2    0.052776       0.425021  0.114756     0.283644


metric
model                     LightGBM LinearQuantile         SQR
tau dataset_id $n$   $d$
0.5 1030       1000  4    0.281453       0.116099   93.505004
    192        52    2    0.050540       0.119146   69.579730
    197        8192  21   1.679674      47.960599  384.631117
    218        22784 8    1.450026      20.945683  546.771592
    225        8192  8    1.309937       0.666726  499.799248
...                            ...            ...         ...
0.9 678        111   3    0.075210       0.151046   71.246208
    687        62    5    0.053287       0.467466   70.427743
    695        235   12   0.106345       0.453199   79.687788
    712        222   2    0.114460       0.143921   76.644637
    banana     5300  2    0.105128       0.125533  192.581594

[184 rows x 15 columns]